<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Senate Parliamentary Debate 2015</title>
		<!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
		<link href="../styles/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="headline">
			<div class=	"container">
				<header>
					<h1>Senate Parliamentary Debate 2015</h1>
					<p>Dhirubhai Ambani Institute of Information and Communication Technology</p>
				</header>
				<div id="intro">	
					<p>Senate Parliamentary Debate is the annual debating tournament of Dhirubhai Ambani Institute of Information and Communication Technology (DA-IICT), Gandhinagar, Gujarat. It thrives to provide a quality debating experience with unique motions.</p>

					<p>Senate is an event under DA-IICT's annual techno-cultural festival Synapse, the second largest event of its kind in Gujarat. Synapse has witnessed some big celebrities and bands like Javed Ali, Indian Ocean, Nale, Devoid, Raghu Dixit and many more.</p>
				</div>
				<div id="register">
					<form method="post">
						<label>
							Username:
							<input name="username" id="username" value="{{ username }}">
						</label>
						<label>
							Password:
							<input type="password" name="password" id="password" value="{{ password }}">
						</label>
						<input type="submit" value="Log In"> {{ error }}
					</form>

					<a href="/register">Register</a>
				</div>
				<br>
			</div>
		</div>
		<div id="nextEvent">
			<div class="container">
				<h2>Next Event: Round 1</h2>
				<h3>Time: 2.00pm</h3>
				<h3>Place: CEP 102</h3>
			</div>
		</div>
		<div id="cas">
			<div class="container">
				<h2>Core Adjudicators</h2>
				<h3>The one's who will cause the most delays</h3>
				<img src="">
				<img src="">
			</div>
		</div>
		<div id="breaks">
			<div class="container">
				<h2>Breaks</h2>
				<h3>Not yet baby! Wait for it.</h3>
			</div>			
		</div>
		<div id="prize">
			<div class="container">
				<h2>This is what you are here for</h2>
				<h3>Rs. 2,00,000</h3>
			</div>
		</div>
	</body>
</html>