<form method = "post">
	<h1>Register</h1>
	<label>
	Name:
		<input type="text" name="firstName">
	</label>
	<br><br>
	<label>
	Last Name:
		<input type="text" name="lastName">
	</label>
	<br><br>
	<label>
	Username:
		<input type="text" name="userName">
	</label>
	<br><br>
	<label>
	Password:
		<input type="password" name="password">
	</label>
	<br><br>
	<label>
	<label>
	Confirm Password:
		<input type="password" name="confpass">
	</label>
	<br><br>
	<label>
	Institute:
		<input type="text" name="institute">
	</label>
	<br><br>
		Adjudicator
		<input type="radio" name="type" value="adj">
		Debater
		<input type="radio" name="type" value="deb">
	<br><br>
	<input type="submit">
	
</form>